/.vs/Solucion.Prueba/FileContentIndex
/.vs/Solucion.Prueba/v17
/.vs/Solucion.Prueba/FileContentIndex/422fe978-075a-4271-847a-c8aa7a747cf9.vsidx
/.vs/Solucion.Prueba/FileContentIndex/4742a9f0-f84c-41b0-a820-799d9518e4e1.vsidx
/.vs/Solucion.Prueba/FileContentIndex/4ebb9d44-156f-4ba8-8561-c564b1267a79.vsidx
/.vs/Solucion.Prueba/FileContentIndex/d0ef13b2-90f8-4e52-81b1-6335dec8298e.vsidx
/.vs/Solucion.Prueba/FileContentIndex/f006c626-68f9-4305-8ef9-d328e4c81951.vsidx
/.vs/Solucion.Prueba/v17/.suo
/.vs/Solucion.Prueba/v17/DocumentLayout.json
/API.Auditory/bin/
/API.Auditory/obj/
/API.WorkTimeRecord/bin/
/API.WorkTimeRecord/obj/
/bin/
/obj/
/ms.communications/bin/
/ms.communications/obj/
